main{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    
}
.imageArea{
    position: relative;
}
.imageArea__image{
    width: 40vw;
    height: 700px;
    display: block;
}
.imageArea__mark{
    position: absolute;
    z-index: 10;
}